@model BANDS.Models.ViewModel.EventScheduleViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="text-success">EventSchedule</h1>

@using (Html.BeginForm("Index", "Bands", FormMethod.Get))
{
<div class="col-xs-3">

  
    @Html.DropDownListFor(b => b.BandId, new SelectList(Model.Band, "", "Name"), "Select Bands", new { @Name = "search", @class = "form-control" })
    <input type="submit" value="Go" />
    </div>
}
    <table id="event" class="table table-bordered table-hover">
        <thead>
            <tr>


                <th>Time</th>
                <th>EventTitle</th>
                <th>BandNames</th>
                <th>SongTitle</th>



            </tr>
        </thead>
        <tbody>

            @foreach (var es in Model.EventSchedule)
            {
                <tr>


                    <td>@es.Time</td>

                    <td>@es.Event.EventTitle</td>
                    <td>@es.Band.Name</td>
                    <td>@es.Song</td>


                </tr>
            }
        </tbody>

    </table>
