@using PagedList;

@using PagedList.Mvc;

@model IPagedList<BANDS.Models.Band>

@*@model IEnumerable<BANDS.Models.Band>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
        <input type="text" placeholder="Search.." name="search2">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>*@
@using (Html.BeginForm("Index", "Bands", FormMethod.Get))

{
    @Html.TextBox("Search") <input type="submit" value="Search" /><br />
}
@Html.ActionLink("Add Bands", "BandForm", "Bands", null, new { @class = "btn btn-primary" })

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>SN</th>
            <th>Name</th>
            <th>Member</th>
            <th>Action</th>


        </tr>
    </thead>


    <tbody>
        @{
            int i = 1;
        }
        @foreach (var bands in Model)
        {
            <tr>
                <td>@i@{i += 1;}</td>
                <td>@Html.ActionLink(bands.Name, "Details", "Bands", new { id = bands.Id }, null)</td>
                <td>member.Name </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Bands", new { id = bands.Id }, new { @class = "btn btn-primary" })

                    @Html.ActionLink("Delete", "Delete", "Bands", new { id = bands.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are sure wants to delete?');" })
                </td>
            </tr>

        }
    </tbody>


</table>

@Html.PagedListPager(Model, pageNumber => Url.Action("Index",new { pageNumber, search = Request.QueryString["search"] }))

